.moduleCard {
    background-color: var(--ifm-background-color);
    border-radius: 8px;
    box-shadow: var(--ifm-shadow-md);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.moduleCard:hover {
    transform: translateY(-5px);
    box-shadow: var(--ifm-shadow-lg);
}

.cardHeader {
    background-color: var(--ifm-color-primary-dark);
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.cardHeader h3 {
    color: white;
    margin: 0;
}

.cardBody {
    padding: 15px;
    flex-grow: 1;
    color: var(--ifm-font-color-base);
}

.cardFooter {
    padding: 15px;
    text-align: right;
    border-top: 1px solid var(--ifm-color-emphasis-200);
}

.cardFooter .button {
    text-decoration: none;
}
